<%= form_for @user, :url => admin_user_path do |f| %>

    <div>
      <%= f.label :firstname %><br>
      <%= f.text_field :firstname %>
    </div>
    <div>
      <%= f.label :lastname %><br>
      <%= f.text_field :lastname %>
    </div>
    <div>
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div>
      <%= f.label "Admin" %>
      <%= f.check_box :admin %> <br />
      <!-- <%= f.label :admin %>
    <%= check_box_tag(:admin) %>
    <%= label_tag(:admin, true) %>
    <%= check_box_tag(:admin) %>
    <%= label_tag(:admin, false) %> -->
    </div>
    <div>
      <%= f.submit "Submit" %>
    </div>
<% end %>
