<%= link_to "Back to all movies", movies_path %>

<div class="container">
  <h2>Users</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= link_to "First Name", admin_users_path(sort: :id), class: "deco-none"%></th>
      <th><%= link_to "First Name", admin_users_path(sort: :firstname), class: "deco-none"%></th>
      <th><%= link_to "Last Name", admin_users_path(sort: :lastname), class: "deco-none"%></th>
      <th><%= link_to "Email", admin_users_path(sort: :email), class: "deco-none"%></th>
      <th><%= link_to "Created At", admin_users_path(sort: :created_at), class: "deco-none"%></th>
      <th><%= link_to "Admin", admin_users_path(sort: :admin), class: "deco-none"%></th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to user.id, admin_user_path(user) %>
          </td>
          <td>
            <%= user.firstname %>
          </td>
          <td>
            <%= user.lastname %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%= user.created_at %>
          </td>
          <td>
            <%= user.admin %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
